@model IEnumerable<Midbay_NG.MyModels.Project>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="pcontainer">
    <center>
        <br />
        <h3>Our Projects</h3><hr />
    </center>
    <div class="row prow">
        <div class="col-sm-3">
            <h4 style="margin-bottom:10px;"><a href=@Url.Action("Projects")>All projects</a></h4>
            @foreach (string t in ViewBag.categories)
            {
                if (ViewBag.currentCategory == t)
                {
                    <h4 style="border-bottom:5px solid green;"><a href=@Url.Action("Projects", new { category = t})>@t</a></h4>

                }
                else
                {
                    <h4><a href=@Url.Action("Projects", new { category = t})>@t</a></h4>
                }

            }
           

        </div>

        <div class="col-sm-8">
            @foreach (var item in Model)
        {
                <div class="col-md-4">
                    <div class="artGroup slide">
                        <div class="artwork">
                            <img class="img-rounded" src="~/Uploads/ProjectImages/@item.Images.Split(',').First().Substring(item.Images.Split(',').First().LastIndexOf('\\') + 1)" height="364" />
                            <div class="detail1">
                                <div class="alert" style="margin:5px auto;">
                                    <div class="row">
                                        <div>
                                            <center>
                                                <a href=@Url.Action("ViewProject", new { Id = item.Id }) class="btn btn-sm btn-info">View project</a>
                                            </center>

                                        </div>

                                    </div>
                                    <div id="feature1" style="background:rgba(0,0,0,0.8); padding:10px; border-radius:3px;">
                                        <div class="row" style="margin-top:10px;">
                                            <div class="col-md-3">
                                                Location:
                                            </div>
                                            <div class="col-md-9">
                                                @item.Location
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                Client:
                                            </div>
                                            <div class="col-md-9" style="white-space:nowrap">
                                                @item.Client
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                Date:
                                            </div>
                                            <div class="col-md-9">
                                                @item.Date.Day / @item.Date.Month / @item.Date.Year
                                            </div>
                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        }


        </div>
    </div>
</div>

<script type="text/javascript">
    function effect() {
        if ($('html').hasClass('csstransforms3d')) {
            $('.artGroup').removeClass('slide').addClass('flip');

            $('.artGroup.flip').hover(
                function () {

                    $(this).find('.artwork').addClass('theFlip');
                }, function () {
                    $(this).find('.artwork').removeClass('theFlip');
                }
                );
        }
        else {
            $('.artGroup').hover(

                function () {
                    $(this).find('.detail').stop().animate({ bottom: 0 }, 500, 'easeOutCubic');
                    alert('flip');
                },
                function () {
                    $(this).find('.detail').stop().animate({ bottom: ($(this).height() * -1) }, 500, 'easeOutCubic');
                }
            );
        }
    }

    effect();
</script>

